body{
    margin: 0;
    padding: 0;
}
.container{
    width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
}
img{
    max-width: 100%;
    height: auto;
}
.fullnav{
    background-color: rgb(0, 0, 0);
}
.navbar{
    display: flex;
    justify-content: space-between;
    
}
ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}
a>img{
    max-width: 100px;
}
a{
    color: rgb(255, 255, 255);
}
a:hover{
    color: rgb(32, 0, 159);
}